################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__vm
/Release
/ProjectIrinco.vcxproj.user
/ProjectIrinco.vcxproj.filters
/ProjectIrinco.vcxproj
/ProjectIrinco.sln
/.vs/ProjectIrinco/v15
